{% set layout_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}

{% if smallTop %}
  {% set main_content_top_modifiers = ['small'] %}
{% endif %}

{% if front_page %}
  {% set main_content_top_modifiers = ['front'] %}
{% endif %}

<div {{ bem('layout-container', layout_modifiers) }}>
  {% block page_header %}
    {% if hero_img %}<div {{ bem('header-hero') }}>{% endif %}
      {% include "@organisms/site/site-header/site-header.twig" %}
    {% if hero_img %}</div>{% endif %}
  {% endblock %}
  {% block page_hero %}
  {% endblock %}
  {% block page_system %}
  {% endblock %}
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <main role="main" {{ bem(main_content_base_class, main_content_modifiers, main_content_blockname) }}>
    <div {{ bem('alert', [], main_content_base_class) }}>
      {% block page_alert %}
      {% endblock %}
    </div>
    <div {{ bem('top', main_content_top_modifiers, main_content_base_class) }}>
      <div {{ bem('top-inner', [], main_content_base_class) }}>
        {% block page_content_top %}{% endblock %}
      </div>
    </div>
    <div {{ bem('bottom', [], main_content_base_class) }}>
      {% block page_content %}{% endblock %}
    </div>
  </main>
  {% block page_footer %}
    {% include "@organisms/site/site-footer/site-footer.twig" %}
  {% endblock %}
</div>
