{% set header__base_class = 'header' %}

{% set header_attributes = {
  class: bem(header__base_class),
  id: 'site-header',
} %}

<header {{ add_attributes(header_attributes) }}>
  <div {{ bem('inner', [], header__base_class) }}>
    <div {{ bem('inner-color', [], header__base_class) }}>
      <div {{ bem('primary', [], header__base_class) }}>
        <div {{ bem('branding', [], header__base_class) }}>
          {% block header__branding %}
            {% include "@atoms/logo/logo.twig" %}
          {% endblock %}
        </div>
        <div {{ bem('menu', [], header__base_class) }}>
          {% block header__menu %}
            {% include "@molecules/menus/main-menu/main-menu.twig" %}
          {% endblock %}
        </div>
      </div><!--primary-->
    </div><!--inner-color-->
  </div><!--inner-->
</header>
