{% set header__base_class = 'header' %}

<header {{ bem(header__base_class) }}>
  <div {{ bem('inner', [], header__base_class) }}>
    <div {{ bem('primary', [], header__base_class) }}>
      <div {{ bem('branding', [], header__base_class) }}>
        {% block header__branding %}
          {% include "@atoms/logo/logo.twig" %}
        {% endblock %}
      </div>
      <div {{ bem('menu', [], header__base_class) }}>
        {% block header__menu %}
          {% include "@molecules/menus/main-menu/main-menu.twig" with {
            menu_items: header_menu_items
          } %}
        {% endblock %}
      </div>
    </div>
  </div>
</header>
