<div class="mss-primary">
  <div class="mss-primary-inner">
    {% for item in results %}
      <h2 class="mss-primary-title">{{ link(item.title, item.uri) }}</h2>
      <p class="mss-primary-desc">{{ item.description }}</p>
      <ul class="mss-sub-policies">
        {% for subitem in item.children %}
          <li class="mss-sub-policies__li">
            {% if subitem.labels|length > 0 %}
            <span class="mss-sub-policies-labels">
              {% for class, label in subitem.labels %}
                <span class="mss-sub-policies-label mss-sub-policies-label-{{class}}">{{ label }}</span>
              {% endfor %}
            </span>
            {% endif %}
            {{ link(subitem.title, subitem.uri) }}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
    </div>
  </div>
</div>
