{#
 # Available variables:
 # - icon_text__base_class - base classname of the wrapper.
 # - icon_text__modifiers - array of modifiers to add to the base classname of the wrapper.
 #
 # - icon_text__icon - the icon name.
 # - icon_text__link - (optional) the url where this should link to.
 # - icon_text__copy - the copy of this component.
 #}
{% set icon_text__base_class = 'icon-text' %}

<div {{ bem(icon_text__base_class, icon_text__modifiers) }}>
  <div {{ bem('inner', [], icon_text__base_class) }}>
    {% include "@atoms/images/icons/_icon.twig" with {
      icon_blockname: icon_text__base_class,
      icon_name: icon_text__icon,
      icon_decorative: true,
    } %}
    {% if icon_text__link %}
      {% include "@atoms/links/link/link.twig" with {
        link_blockname: icon_text__base_class,
        link_url: icon_text__link,
        link_content: icon_text__copy
      } %}
    {% else %}
      <span {{ bem('bold', [], icon_text__base_class) }}>{{ icon_text__copy_pre_bold }}</span>
      {{ icon_text__copy }}
      <span {{ bem('bold', [], icon_text__base_class) }}>{{ icon_text__copy_bold }}</span>
    {% endif %}
  </div>
</div>
